<!DOCTYPE html>
<html>

<head>
    <title>Flip Art</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="main.js"></script>
</head>

<body onload="createparagraph(8)">
  <div id="toolbar">
    <button id="start" onclick="startAnimation()"> Start Animation</button>
    <button id="stop"> Stop Animation</button>
    <button id="clear" onclick="clearConfiguration()"> Clear Configuration</button>
  </div>
  <div id="panel" class="panel">

  </div>

  <form oninput="result.value = slider.value">
    <label>Select farame speed</label><br/>
    The value is <output name="result" for="slider" id="output">0.5</output> seconds
    <input type="range" id="slider"
          min="0.1" max="2" step="0.1" value="0.5"> <br />
</form>

  <div id="scence" class="scence"> </div>

  <script src="main.js"></script>
  <!-- <script src="main.js"></script> -->
</body>

</html>